.body-page {
  width: 100%;
  height: 100%;
}

.background-second {
  background: fixed #f2f2f2;
  width: 100%;
  height: 1032px;
  padding-top: 1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1172px;
}

.header-list-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  background: #313131;
  width: 100%;
  height: 70px;
}

.header-logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list-middle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-logo {
  width: 81px;
  height: 70px;
}

.header-logo-img {
  margin-top: 22px;
  margin-left: 27px;
}

.header-title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.header-title-logo-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;

  color: #ffffff;
}

.header-list-part:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
}

.header-search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 68px;
  height: 70px;
  background: #000000;
}

.header-list-item {
  padding-right: 35px;
}

.header-list-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.header-list-link:hover {
  color: #14b9d5;
}

.intro {
  width: auto;
  padding-bottom: 74px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

.intro-logo-item {
  text-align: center;

  padding-top: 164px;
  margin: 0;
  width: auto;
}

.intro-list-head {
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  text-transform: uppercase;

  margin-bottom: 0;
}

.intro-buttons {
  display: flex;
  justify-content: center;

  margin-top: 44px;
}

.intro-button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  margin-top: 0;
}

.intro-button-item:first-child {
  border: 1px solid #89ca62;
  background: #89ca62;
}
.intro-button-item:last-child {
  border: 1px solid #14b9d5;
  background: #14b9d5;
}

.intro-button-desc {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 0;
}

.intro-subscribe-text {
  padding: 16px 19px;
}

.intro-article-text {
  padding: 16px 30px;
}

.background {
  width: 100%;
  height: 100%;

  background: #f2f2f2;
}

.popular-title {
  text-align: center;

  margin-top: 49px;
  margin-bottom: 52px;
}

.catalog-posts {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  height: 863px;
  list-style: none;
  padding-left: 0;
}

.catalog-post-item {
  background: #ffffff;
  margin-bottom: 31px;
}

.catalog-post-item:first-child {
  margin-bottom: 31px;
  margin-right: 31px;
}

.catalog-post-item:nth-child(2) {
  margin-right: 31px;
}

.catalog-post-item:nth-child(3) {
  margin-bottom: 31px;
  margin-right: 31px;
}

.catalog-post-item:nth-child(4) {
  margin-right: 31px;
}

.catalog-desc {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.most-popular-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
}

.clients-catalog {
  width: 100%;
  height: 588px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

.client-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, auto));
  grid-template-rows: min-content min-content 87px min-content;
  justify-content: center;
  align-content: center;
  column-gap: 58px;
  row-gap: 97px;
  grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item2 item2"
    "item3 item4 item5 item6";

  padding-top: 106px;
  list-style: none;
  margin: 0;
}

.client-list-item {
  align-self: center;
}

.client-list-item:first-child {
  grid-area: item1;
}

.client-list-item:nth-child(2) {
  grid-area: item2;
}

.client-list-item:nth-child(3) {
  grid-area: item3;
}

.client-list-item:nth-child(4) {
  grid-area: item4;
}

.client-list-item:nth-child(5) {
  grid-area: item5;
}

.client-list-item:nth-child(6) {
  grid-area: item6;
}

.client-list-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  color: #ffffff;

  text-align: center;
  margin: 0;
}

.client-list-underline {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  border: none;
  text-align: center;
}

.rated-hot-title-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.rated-hot-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-transform: uppercase;
}

.rated-img-list {
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, auto));
  grid-template-rows: repeat(1, minmax(min-content, auto));
  list-style: none;

  margin: 0;
  padding: 0;
}

.catalog-hotel-list {
  display: grid;
  grid-template-columns: 277px 242px 242px 277px;
  grid-template-rows: 259px 416px 416px 259px;
  grid-row-gap: 44px;
  align-content: center;
  justify-content: center;
  list-style: none;
}

.catalog-hotel-item {
  padding: 0;
  margin: 0;
  background: #f9f7f7;
}

.catalog-hotel-item:first-child {
  grid-area: 1 / 1 / 2 / 4;
}
.catalog-hotel-item:nth-child(2) {
  grid-area: 1 / 4 / 2 / 5;
}
.catalog-hotel-item:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}
.catalog-hotel-item:nth-child(4) {
  grid-area: 2 / 3 / 3 / 5;
}
.catalog-hotel-item:nth-child(5) {
  grid-area: 3 / 1 / 4 / 3;
}
.catalog-hotel-item:nth-child(6) {
  grid-area: 3 / 3 / 4 / 5;
}
.catalog-hotel-item:nth-child(7) {
  grid-area: 4 / 1 / 5 / 2;
}
.catalog-hotel-item:nth-child(8) {
  grid-area: 4 / 2 / 5 / 5;
}

.catalog-hotel-thing-right {
  display: grid;
  grid-template-columns: 483px 373px;
  grid-template-rows: repeat(1, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-hotel-right-item:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.catalog-hotel-right-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.catalog-hotel-thing-under-big {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-hotel-right-title {
  padding-top: 41px;
}

.catalog-hotel-thing-under {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-hotel-under-title {
  padding-top: 9px;
}

.catalog-hotel-title {
  text-align: center;
  margin: 0;
}

.catalog-hotel-desc {
  text-align: center;
  vertical-align: middle;
}

.catalog-hotel-title-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.catalog-hotel-desc-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.catalog-hotel-desc-right {
  padding-left: 10px;
  padding-top: 15px;
  width: 345px;
  height: 140px;
  margin: 0;
}

.footer-container {
  width: 100%;
  height: 80px;
  background: #000000;
  margin-top: 77px;
}

.right-reserve-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-decoration: none;
  color: #ffffff;
}

.footer-container-list {
  display: grid;
  grid-template-columns: 24px;
  grid-template-columns: 512px 105px;
  grid-column-gap: 559px;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 80px;
}

.footer-logo {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat (1, 1fr);
}

.footer-logo-item {
  padding-top: 15px;
}

.footer-logo-item:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.footer-logo-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
