.container {
  width: 1280px;
  margin: auto;
}

.logo {
  margin-bottom: 0;
  margin-top: 63px;
}

.logo-link {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
}

.logo-color {
  color: black;
}

.top-menu {
  width: 1280px;
  height: 72px;
  margin-right: 98px;
  margin-top: 38px;
}

.top-menu-list {
  display: flex;
  justify-content: center;
  list-style: none;

  width: 1280px;
  height: 72px;
  border: 1px solid#35444f;
  background-color: #35444f;

  margin-bottom: 0;
  padding: 0;
}

.top-menu-item {
  padding-top: 22.5px;
  padding-bottom: 22.5px;

  height: 72px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  vertical-align: middle;
  text-align: center;
}

.top-menu-link {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;

  color: #ffffff;
}

.top-button:hover {
  background: #222f3a;
  height: 71px;
}

.main-container {
  display: flex;
  justify-content: space-between;

  width: 1280px;

  margin-top: 48px;
}

.left-menu {
  width: 344px;
  height: 399px;
}

.left-menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;

  width: 344px;
  height: 399px;
  border: 1px solid black;

  margin-top: 0;
  padding-left: 0;
}

.left-menu-item {
  padding-top: 27px;
  padding-bottom: 27px;

  height: 81px;

  padding-left: 42px;
  vertical-align: middle;
}

.left-menu-link {
  font-weight: 400;
  font-size: 27px;

  color: #495863;
}

.left-button:hover {
  background: #dbdbdb;

  width: 342px;
  height: 73px;

  padding-left: 0;
  text-align: center;
  color: #000;
}

.left-button-link:hover {
  color: #000;
}

.content-block {
  width: 885px;
}

.content-image {
  width: 885px;
  height: 529px;
  border: 1px solid #000;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image:hover {
  transform: scale(1.2);
}

.image {
  transition: transform 0.5s;
}

.article-container {
  margin-top: 37px;
}

.content-text-one {
  margin-top: 0;
  margin-bottom: 34px;
}

.content-text-two {
  margin-top: 0;
  margin-bottom: 0;
}

.bottom-menu {
  width: 1280px;
  height: 69px;
  margin-top: 54px;
  margin-bottom: 30px;
}

.bottom-menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;

  border: 1px solid rgba(99, 105, 110, 0.48);
  background-color: rgba(99, 105, 110, 0.48);

  width: 1280px;
  height: 69px;
}

.bottom-menu-item {
  height: 69px;

  padding-top: 20px;
  padding-bottom: 21px;

  vertical-align: middle;
  text-align: center;
}

.bottom-menu-link {
  text-align: center;
  font-weight: 400;
  font-size: 28px;

  color: #0c1927;
}

.bottom-button:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding-bottom: 10px;
}

.copyright {
  padding-right: 40px;
  padding-left: 135px;
}
