.page {
  position: relative;
}

.body-page {
  font-family: "Star Jedi", arial;
  overflow: hidden;
}

.body-background {
  width: 100%;
  height: 100%;
  background: black;

  position: absolute;
}

.star-wars {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  perspective: 450px;
}

.star-wars-container {
  position: relative;
  text-align: justify;
  line-height: 1.2em;
  font-size: 100px;
  font-weight: 700;

  color: #feda4a;

  animation: scroll 30s ease-in forwards infinite;
}

.star-wars-title {
  text-transform: uppercase;
  text-align: center;
}

@keyframes scroll {
  from {
    top: 100vh;
    transform: translateZ(0) rotatex(52deg);
  }
  to {
    top: -600px;
    transform: translateZ(-2000px) rotatex(53deg);
  }
} ;
