html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
}

a {
  text-decoration: none;
}

img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

.menu {
  margin-left: 330px;
  padding: 0%;
}

.menu-item {
  display: inline-block;
  margin-left: 72px;
}

.menu-link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700px;
  letter-spacing: 2.7px;
  color: #ff0000;
}

.text-heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 38px;

  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  color: #373737;
}

.text-desc-first {
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 1145px;
  height: 132px;
}

.text-desc-second {
  margin-left: auto;
  margin-right: auto;
  padding: 0%;

  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 1145px;
  height: 216px;
}

.button-link {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #ffffff !important;
  width: 191px;
  height: 51px;
  letter-spacing: 1, 8px;
}

.button-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 84px;

  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 18px 44px;
  width: 191px;
  background-color: #ff0000;
}

.button {
  margin: 30px;
}

.copyright {
  margin-right: 105px;
  letter-spacing: 2.4px;
  padding-bottom: 29px;
  padding-top: 82px;

  text-align: right;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
}
