.page-body {
  font-family: "Roboto", sans-serif;
}

.body-background {
  background: url(../img/background.jpg) fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.header-field {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-left: 167px;
  padding-top: 51px;
  padding-bottom: 22px;
  margin-right: 209px;

  list-style: none;
}

.header-field-item:first-child {
  display: flex;
  align-items: center;
  height: 51px;
}
.header-field-item:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.header-field-logo:hover .header-logo-orange {
  display: inline-block;
}
.header-field-logo:hover .header-logo-white {
  display: none;
}
.header-field-logo:hover .header-title-first-link {
  color: #f26522;
}
.header-field-logo:hover .header-title-second-link {
  color: #f26522;
}
.header-contact-email-link:hover {
  color: #f26522;
}
.header-contact-phone-link:hover {
  color: #f26522;
}

.header-logo-orange {
  display: none;
}

.header-title {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}
.header-title-first-link {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}
.header-title-second-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.header-contact-item-email {
  margin-top: 0;
  margin-bottom: 19px;
}
.header-contact-item-phone {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 73px;
}
.header-contact-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.tour-options {
  display: grid;
  grid-template-rows: repeat (3, 300);
  grid-template-columns: repeat (2, 220);
  grid-row-gap: 78px;
  grid-column-gap: 61px;

  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 0px;
}

.tour-option-item-container {
  position: relative;
  height: 220px;
}

.tour-option-item:first-child {
  grid-area: 1 / 1 / 2 / 2;
}
.tour-option-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.tour-option-item:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
.tour-option-item:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}
.tour-option-item:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}
.tour-option-item:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

.tour-option-desc {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  position: absolute;
  bottom: -55px;
  right: 0px;

  width: 300px;
  height: 55px;

  padding-left: 16px;
  transition-property: bottom, opacity;
  transition-duration: 0.2s, 0.3s;
  opacity: 0;
  background: #f26522;
}

.tour-option-item:hover .tour-option-desc {
  bottom: 0px;
  opacity: 1;
}
.tour-option-item:hover .option-title-link {
  color: #f26522;
}

.tour-option-img {
  padding-left: 2px;
  padding-right: 2px;
  background: linear-gradient(to bottom, white, black);
  object-fit: cover;
}

.option-desc-item {
  margin: 0;
  padding-bottom: 8px;
}
.desc-item-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.option-desc-price {
  margin: 0;
}
.desc-price-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.option-desc-details {
  margin: 0;
  padding-left: 128px;
  padding-top: 29px;
  padding-right: 37px;
}
.desc-details-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.desc-details-link::after {
  content: ">";
  padding-left: 16px;
}

.tour-option-title {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
.option-title-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-text {
  text-align: center;
  margin-top: 49px;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  opacity: 0.7;
}
